{% extends "base2.html" %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles4.css') }}?v={{ timestamp }}">
{% endblock extracss %}

{% block body %}

<div class="menu">
    <h1>ToolHub - coś dla ciebie!</h1>
</div>
<div class="container">

    <div class="input">
        <p>Wprowadź tekst, który chcesz przeanalizować:</p>
        <form method="POST" action = "{{url_for('main.analyzer')}}">
        <textarea name="tekst" id="tekst" cols="60" rows="20"></textarea>
        <button type="submit">Analizuj</button>
        </form>
    </div>

    <div class="output">
       
        {% if error %}
        <p style="color:red;">{{error}}</p>

        {% elif tekst_analiza %} 
        <div class="tekst">
            <h1>Analiza danych:</h1> <br>
            Ilość znaków interpunkcyjnych: {{tekst_analiza.znaki_interpun}}<br>
            Ilość wyrazów: {{tekst_analiza.ilosc_wyrazow}}<br>
            Ilość znaków: {{tekst_analiza.ilosc_znakow}}<br>
            Najczęściej występujące słowo: {{tekst_analiza.najczestsze_slowo}}<br>
            Ilość zdań: {{tekst_analiza.ilosc_zdan}}<br>
            Średnia długość wyrazów: {{tekst_analiza.srednia_dlugosc}}<br>
                {% if tekst_analiza.wystapienia is not none %}<br>
                    Wystąpienia wyrazu "{{tekst_analiza.wystapienia_uzytkownika}}": {{tekst_analiza.wystapienia}}
                {% endif %}
        </div>
        {% else %}
            <p>Wprowadź tekst i kliknij przycisk "Analizuj" by zobaczyć wyniki.</p>
        {% endif %}
        
    </div>


</div>

{% endblock body %}