{% extends "base.html" %}
    {% block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v={{ timestamp }}">
    
    <!-- Czcionka do tekstu w klasie zawartosc -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Story+Script&display=swap" rel="stylesheet">
    
    <!-- Czcionka do tekstu w kal -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Story+Script&display=swap" rel="stylesheet">
   
    <!-- Czcionka Orbitron -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Story+Script&display=swap" rel="stylesheet">
    <title>Photo of the day</title>
    {% endblock %}

    {% block body %}
    
<div class="container">
    <div class ="menu">
        <a href="{{ url_for('main.today') }}">Dzisiejsze zdjęcie</a> <br>
        <a href="{{ url_for('main.apod') }}">Zdjęcie dnia</a> <br>
        <a href="{{ url_for('main.random') }}">Kosmiczna losowość</a> <br>
    </div>
    <div class="zawartosc">
        {% if get_nasa_apod%}
            {% if get_nasa_apod.media_type == "image" %}
            <a href="{{ get_nasa_apod.url }}" target="_blank">
            <img src="{{ get_nasa_apod.url }}" alt="Zdjęcie dnia" class="miniatura_zdjecie">
            </a>
            {% endif %}
            
            {% if get_nasa_apod.media_type == "video" %}
            <iframe src="{{ get_nasa_apod.url }}" frameborder="0" allowfullscreen class="miniatura_film"></iframe>
            {% endif %}
        {% else %}
            <div class="brak">Brak zdjęcia.😔</div>
        {% endif %}
            
        <div class="text">
            {% if get_nasa_apod %}
            <h2>{{get_nasa_apod.title}}</h2>
            {% endif %}
            {% if get_nasa_apod %}
            <q>{{get_nasa_apod.explanation}}</q> <br>
            {% endif %}
            
            {% if get_nasa_apod %}
            <h3>{{get_nasa_apod.date}}</h3>
            {% endif %}
        </div>
    </div>

    <div class="kalendarz">
        <form  method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
            {{ form.data_apod.label }} {{form.data_apod(type="date", id="wybor_daty", max = dzisiaj) }}
            </div>
            <div class="form-group">
            {{ form.submit(id="przycisk") }}
        </div>
        </form> 
   
    </div>

</div>
    {% endblock %}