
// ZMIENNE
$background-color: #afb0c7;
$background-color-menu: #afb0c7;
$background-color-footer: #60646e;
$background-color-button: #181b29;
$background-color-footer: #272932;

// MIXINY

@mixin output {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%;
        align-items: center;
        justify-content: center;     
        font-size: 25px; 
        line-height:200%;
        // border: 1px solid black;
        text-align: center;
    }   

@mixin input {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;
}

@mixin container {
        display: flex;
        flex-direction: row-reverse;
}

body{
    background-color: $background-color;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}
.menu {
    width: 100vw;
    height: 100px;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    @include container;

    .return {
        display: flex;
        height: 100%;
        width: 10%;
        align-items: flex-end;
        justify-content: center; 
        font-size: 30px;
        padding: 20px;
        a {
            text-decoration: none;
            color: #333;
            font-weight: 700;
            &:hover{
                color: #565656;
                transform: translateY(-2px);
            }
        }
    }

        .output {
            @include output;
        
        h1 {
        display: flex;
        align-items: center;
        justify-content: center;   
        }

        .tekst {
        padding: 60px;
        background-color: white;
        border-radius: 30px;
        }

    }
    .input {
    @include input;    

        .tekst {
        padding: 60px;
        background-color: white;
        border-radius: 30px;
        }

        form {  
            textarea {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 10px;
            }
            button {
                padding: 10px 20px;
                border-radius: 15px;
                background-color: $background-color-button;
                color: white;
            }
        }
        p {
            font-size: 23px
        }
        // border: 1px solid black;
        justify-content: center;
        align-items: center;

        textarea {
            width: fit-content;
            border: solid 2px black;
            border-radius: 5px;
        }
    }
}

footer {
    background-color: $background-color-footer;
    color: white;
}
